
@import '~@angular/material/theming';
@include mat-core();

$table-to-card-primary: mat-palette($mat-indigo);
$table-to-card-accent: mat-palette($mat-pink, A200, A100, A400);

$table-to-card-warn: mat-palette($mat-red);

$table-to-card-theme: mat-light-theme($table-to-card-primary, $table-to-card-accent, $table-to-card-warn);

@include angular-material-theme($table-to-card-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* { color: #636262; }